#count{
    font-size: 10rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(13, 98, 98);
    font-weight: bold;
}
.btncontainer{
    text-align: center;
}
.btn{
    padding: 0.6em 1em 0.6em 1em;
    font-size: large;
    width: 7em;
    border-radius: 10px;
    border: 0;
    background-color: rgb(217, 231, 244);
    color: rgb(61, 15, 4);
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover{
    background-color: rgb(228, 248, 248);
    color: rgb(169, 9, 9);
}
 .btn:active{
    background-color: rgb(6, 121, 106);
    color: rgb(245, 192, 154);
 }